.jobpage {
    height: 100%;
    background: lightskyblue;
}

.job-content {
    width: 60%;
    background-color: lightslategray;
    margin: auto;
}

.fas {
    color: red;
}

i:hover {
    cursor: pointer;
}