.searchpage {
    height: 100%;
    padding-bottom: 20vh;
    background: lightgray;
}

.search-content {
    width: 40%;
    margin: auto;
}

.search-title {
    margin-bottom: 0;
}

.job-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    gap:10px;
    margin: auto;
    height: 100%;
    width: 100%;
}

h1{
    margin-top: 3vh;
    margin-bottom: 3vh;
    text-align: center;
}

@media screen and (max-width: 1080px) {
    .search-title {
        font-size: large;
    }
    .search-content {
        width: 70%;
    }
}

@media screen and (max-width: 720px) {
    .search-title {
        font-size: large;
    }
    .search-content {
        width: 90%;
    }
}

