.homepage {
    height: 100vh;
    background: red;
    background-image: url("../images/homebg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    margin-top: 20vh;
    width: 60%;
}

.form {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: title;
}

#input {
    height: 100%;
    width: 80%;
    margin-bottom: 0px !important;
}

#search{
    height: 100%;
    font-size: small;
    border: solid 3px black;
}

.home-title{
    color: #3c096c;
    background-color: #9b9b7a;
    font-size: xx-large;
    font-style:italic
}

@media screen and (max-width: 720px) {
    .home-title {
        font-size: large;
    }
}